* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* body {
    display: grid;
    justify-content: center;
} */

@font-face {
    font-family: nunito;
    src: url(./src/fonts/nunito.ttf);
}

@font-face {
    font-family: notosans;
    src: url(./src/fonts/notosans.ttf);
}

.navbar_container {
    width: 1200px;
    height: 81px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 61px;
}

.logo {
    margin-right: 175px;
}

.navbox {
    width: 500px;
    height: 29px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbox li {
    list-style-type: none;
    display: inline;

    padding: 20px;


}

.navbox li a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;

}

.navbox li a:hover {
    border-bottom: 3px solid #5956E8;
}

li a {
    text-decoration: none;
}

.login {
    width: 262px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login .login_login>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
}

.login .login_get_started>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.login a {
    text-decoration: none;
}

.login {
    margin-left: 58px;
}

.login_get_started {
    width: 173px;
    height: 64px;

    background-color: #292930;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_get_started a {
    color: #FFFFFF;
}



.section1_box {
    width: 100%;
    padding-bottom: 300px;

    display: flex;
    justify-content: center;

    background-image: url(./src/img/BannerImage.png)
}

.section1 {
    width: 1206px;
}

.banner {
    width: 740px;
    height: 470px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    margin-top: 188px;


}

.banner_button {
    display: flex;
    justify-content: space-between;

    width: 375px;
    height: 64px;
}

.banner_button1 {
    width: 182px;
    height: 64px;

    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1.5px solid #292930;

}

.banner_button1:hover {
    background: #292930;
}

.banner_button1 a {
    color: #292930;
    text-decoration: none;

    font-family: nunito;
}

.banner_button1> a:hover{
    color: #FFFFFF;
}

.banner_button2 {
    width: 182px;
    height: 64px;

    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1.5px solid #292930;
}

.banner_button2:hover {
    background: #292930;
}

.banner_button2 a {
    color: #292930;
    text-decoration: none;

    font-family: nunito;
}

.banner_button2 a:hover {
    color: #FFFFFF;
  
}

.section2 {
    width: 1200px;
    height: 1233px;
}

.section2_heading {
    width: 100%;
    height: 126px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;


}

.section2_heading_icon {
    margin-right: 39px;
}

.section2_heading_title>h1 {
    width: 620px;
    height: 88px;
}

.section2_heading_button {
    width: 174px;
    height: 62px;

    background: #FFFFFF;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 279px;
}

.section2_heading_button a {
    text-decoration: none;

    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #292930;
}

.section2_services {
    width: 100%;
    height: 1017px;

    display: block;

    margin-top: 90px;
}

.section2_services_row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section2_services_row1 .box1 {
    width: 352px;
    height: 475px;

    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    padding-top: 41px;
}

.section2_services_row1 .box1 .box1_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 274px;
    height: 393px;
    gap: 26px;
}

.box1 h2 {
    color: #FFFFFF;
    font-family: nunito;

    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
}

.section2_services_row1 .box1 .box1_content .box1_link {
    width: 266px;
    height: 62px;
    border: 1px solid #535355;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_services_row1 .box1 .box1_content .box1_link:hover {
    background: #FFDC60;
}

.box1_link_div1 {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 27px;
    align-items: center;
}

.div1_a>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.box2_link_div2 {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 27px;
    align-items: center;
}

.div2_a>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.box3_link_div3 {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 27px;
    align-items: center;
}

.div3_a>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.box4_link_div4 {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 27px;
    align-items: center;
}

.div4_a>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.box5_link_div5 {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 27px;
    align-items: center;
}

.div5_a>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.box6_link_div6 {
    display: flex;
    justify-content: space-between;
    width: 126px;
    height: 27px;
    align-items: center;
}

.div6_a>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.section2_services_row1 .box1 .box1_content .box1_link>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.section2_services_row1 .box1 .box1_content .box1_link>a:hover {
    color: #292930;
}

.section2_services_row1 .box2 .box2_content .box2_link {
    width: 266px;
    height: 62px;
    border: 1px solid #535355;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_services_row1 .box2 .box2_content .box2_link:hover {
    background: #FFDC60;
}

.section2_services_row1 .box2 .box2_content .box2_link>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.section2_services_row1 .box2 .box2_content .box2_link>a:hover {
    color: #292930;
}

.section2_services_row1 .box3 .box3_content .box3_link {
    width: 266px;
    height: 62px;
    border: 1px solid #535355;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_services_row1 .box3 .box3_content .box3_link:hover {
    background: #FFDC60;
}

.section2_services_row1 .box3 .box3_content .box3_link>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.section2_services_row1 .box3 .box3_content .box3_link>a:hover {
    color: #292930;
}

.section2_services_row2 .box1 .box1_content .box4_link {
    width: 266px;
    height: 62px;
    border: 1px solid #535355;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_services_row2 .box1 .box1_content .box4_link:hover {
    background: #FFDC60;
}

.section2_services_row2 .box1 .box1_content .box4_link>a:hover {
    color: #292930;
}

.section2_services_row2 .box2 .box2_content .box5_link {
    width: 266px;
    height: 62px;
    border: 1px solid #535355;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_services_row2 .box2 .box2_content .box5_link:hover {
    background: #FFDC60;
}

.section2_services_row2 .box2 .box2_content .box5_link>a:hover {
    color: #292930;
  
}

.section2_services_row2 .box3 .box3_content .box6_link:hover {
    background: #FFDC60;
}

.section2_services_row2 .box3 .box3_content .box6_link>a:hover {
    color: #292930;
}



.section2_services_row2 .box2 .box2_content .box2_link:hover {
    background: #FFDC60;
}

.section2_services_row2 .box2 .box2_content .box2_link>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.section2_services_row2 .box2 .box2_content .box2_link>a:hover {
    color: #292930;
}

.section2_services_row2 .box3 .box3_content .box6_link {
    width: 266px;
    height: 62px;
    border: 1px solid #535355;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_services_row2 .box3 .box3_content .box3_link:hover {
    background: #FFDC60;
}

.section2_services_row2 .box3 .box3_content .box3_link>a {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #525255;

    text-decoration: none;
}

.section2_services_row2 .box3 .box3_content .box3_link>a:hover {
    color: #292930;
}








.box1 p {
    color: #D0D0D0;

    font-family: notosans;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
}

.section2_services_row1 .box2 {
    width: 352px;
    height: 475px;

    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;

    display: flex;
    justify-content: center;
}

.section2_services_row1 .box2 {
    padding-top: 41px;
}

.section2_services_row1 .box2 .box2_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 274px;
    height: 393px;
    gap: 26px;

}



.box2 h2 {
    color: #FFFFFF;
    font-family: nunito;

    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
}

.box2 p {
    color: #D0D0D0;

    font-family: notosans;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
}



.section2_services_row1 .box3 {
    width: 352px;
    height: 475px;

    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;
}

.box3 {
    display: flex;
    justify-content: center;
}

.section2_services_row1 .box3 {
    padding-top: 41px;
}

.section2_services_row1 .box3 .box3_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 274px;
    height: 393px;
    gap: 26px;

    /* padding-top: 41px; */
}

.box3 h2 {
    color: #FFFFFF;
    font-family: nunito;

    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
}

.box3 p {
    color: #D0D0D0;

    font-family: notosans;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
}


.section2_services_row2 {
    display: flex;
    justify-content: space-between;

    margin-top: 67px;
}

.section2_services_row2 .box1 {
    width: 352px;
    height: 475px;

    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;

    padding-top: 41px;


    display: flex;
    justify-content: center;
}

.section2_services_row2 .box1 .box1_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 274px;
    height: 393px;
    gap: 26px;

}

.section2_services_row2 .box2 {
    width: 352px;
    height: 475px;

    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;

    display: flex;
    justify-content: center;

    padding-top: 41px;
}

.section2_services_row2 .box2 .box2_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 274px;
    height: 393px;
    gap: 26px;

}



.section2_services_row2 .box3 {
    width: 352px;
    height: 475px;

    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;

    display: flex;
    justify-content: center;

    padding-top: 41px;
}

.section2_services_row2 .box3 .box3_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 274px;
    height: 393px;
    gap: 26px;

}

.section2_box {
    width: 100%;
    background-color: #292930;

    padding-top: 173px;

    display: flex;
    justify-content: center;

    padding-bottom: 173px;
}

.price_header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 473px;
    height: 203px;
    gap: 34px;

    margin-top: 94px;
}

.price_header p {
    font-family: notosans;
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    color: #292930;
    letter-spacing: 0.135em;
}

.price_header h2 {
    font-family: nunito;
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%;
    color: #292930;
}

.price_options {
    display: flex;
    gap: 16px;

    margin-top: 41px;
    margin-bottom: 170px;

}

.price_options_box1 {
    width: 389px;
    height: 554px;
    background: #F7F7F7;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}

.price_options_box2 {
    width: 389px;
    height: 554px;
    background: #292930;
    border-radius: 10px;
}

.price_options_box3 {
    width: 389px;
    height: 554px;
    background: #F7F7F7;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}

.price_options_box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_options_box1_content {
    width: 313px;
    height: 464px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price_options_box1_content_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
    width: 279.14px;
    height: 94px;
}

.footer_box1_content1_email {
    width: 293px;
    height: 62px;
    background: #5B5B61;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 18px;
}

.footer_box1_header {
    margin-bottom: 18px;
}

.footer_box1_header>h2 {
    font-family: nunito;
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;

}

.footer_box1_header>p {
    font-family: notosans;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #D0D0D0;
}

.footer_box1_content1_email>input {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;


    background-color: transparent;
    border-color: transparent;
}

::placeholder {
    color: #FFFFFF;
}


.footer_box1_content1_btn {
    width: 293px;
    height: 62px;
    background: #FFDC60;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_box1_content1_btn>button {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    background-color: transparent;
    border-color: transparent;
}

.section3_box {
    display: flex;
    justify-content: center;
}

.price_options_box1_content .points {
    width: 252px;
    height: 216px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.price_options_box1_content .purchase_plan {
    width: 313px;
    height: 64px;
    background-color: #292930;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.price_options_box1_content .purchase_plan>a {
    color: #FFFFFF;
    text-decoration: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    font-family: nunito;
}

.price_options_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_options_box2_content {
    width: 313px;
    height: 464px;


}

.price_options_box2_content_header {
    width: 272.14px;
    height: 94px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.starter_header {
    display: flex;
    flex-direction: column;
}

.price_options_box2_content .points {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price_options_box2_content .purchase_plan {
    width: 313px;
    height: 64px;
    background: #F6F6F6;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.price_options_box2_content .purchase_plan a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    font-family: nunito;
}

.price_options_box3 {
    display: flex;
    justify-content: center;
    align-items: center;


}

.price_options_box3_content_header {
    display: flex;
    align-items: center;
}

.price_options_box3_content {

    width: 313px;
    height: 464px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

    /* gap: 30px; */
}



.price_options_box3_content .purchase_plan {
    width: 313px;
    height: 64px;
    background: #292930;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.price_options_box3_content .points {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price_options_box3_content .purchase_plan a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    font-family: nunito;
}

.section4_box {
    background: #292930;
    width: 100%;
    height: 1034px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.footer {
    height: 652.16px;
    display: flex;
    gap: 99px;

}

.footer_box1 {
    width: 399px;
    height: 652.16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #3C3C45;
    border-radius: 7px;
}

.footer_box2 {
    width: 702px;
    height: 645px;
}

.footer_box2_content {
    display: flex;

    width: 662px;
    height: 152px;
}

.footer_box2_content1 {
    width: 255px;
    height: 152px;
    margin-right: 110px;

}

.footer_box3_content1 {
    width: 120px;
    height: 288px;
}

.footer_box3_content3 {
    width: 183px;
    height: 248px;
}

.footer_box3_content5 {
    width: 117px;
    height: 210px;
}

ul li {
    list-style: none;
}

.Copyright {
    width: 593px;
    height: 38px;

    margin-top: 17px;
    margin-left: 48px;
}

.Copyright>span {
    font-family: notosans;
    font-weight: 400;
    font-size: 18px;
    line-height: 211.5%;
    color: #FFFFFF;
}